.offers{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: auto;
    padding: 0px 140px;
    background: linear-gradient(180deg, rgb(255, 192, 209), #e1ffea22 80%);
    padding-top: 40px;
}
.offers-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    font-size: 60px;
    font-weight: 600;
    color: #171717;
}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 280px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-left button:hover{
    background: #ff0000;
    transform: scale(1.03);
    transition: 0.2s ease-in-out;
}