.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100vw;
    margin-bottom: 100px;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 85px;
    font-size: 20px;
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icons{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.footer-icon-container{
    display: flex;
    gap: 100px;
}
.footer-icon-container img{
    cursor: pointer;
}
.footer-copyright hr{
    width: 90%;
    height: 3px;
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.336);
    margin-bottom: 40px;
}
.footer-copyright{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}